.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-group
      = @group.name
      .chat-main__group-info__left-group__menber-name
        Menber:
        - @group.users.each do |user|
          = user.name
    .chat-main__group-info__right-group
      =link_to edit_group_path(@group), {class: "edit"} do
        Edit


  .chat-contents
    - @messages.each do |message|
      .chat-contents__box{data: {message: {id: message.id}}}
        .chat-contents__box__top
          .chat-contents__box__top__name
            = message.user.name
          .chat-contents__box__top__date
            = message.created_at.strftime('%Y年%m/%d %H:%M')
        .chat-contents__box__bottom
          .chat-contents__box__bottom__text
            = message.content
          .chat-contents__box__bottom__image
            = image_tag message.image.url if message.image.present?






  .footer
    = form_with model: [@group, @message], class: 'footer__form', local: true do |f|
      .footer__form__message-window
        = f.text_field :content, class: 'footer__form__message-window__window', placeholder: 'type a message'
        = f.label :image, class: 'footer__form__message-window__image' do
          = icon('far', 'image', class: 'footer__form__message-window__image__image-label')
          = f.file_field :image, class: 'footer__form__message-window__image__image-fie'
      = f.submit 'Send', class: 'footer__form__send'
